/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Non-tailwind CSS */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
