name: documentation

on:
  push:
    branches:
      - main # Triggers the workflow on push events to the main branch

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install dependencies
        run: |
          pip install -e ".[documentation]"
      - name: Sphinx build
        run: |
          sphinx-build docs _build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
#        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/initial-prototypes' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
